<div>
    Hi this is inventory list component template ..
</div>

<div>
    List type: {{context}}
</div>

<div *ngFor="let item of getItems()" (click)="setCurrentItem(item)" >
    <span>name: {{item.name}}</span>;&nbsp;
    <span>price: {{item.price}}</span>
</div>

<table *ngIf="currentItem" style="width:50%">
    <tr>
        <th>guid</th>
        <th>name</th>
        <th>price</th>
    </tr>
    <tr>
        <td>{{currentItem?.guid}}</td>
        <td>{{currentItem?.name}}</td>
        <td>{{currentItem?.price}}</td>
    </tr>
</table>

<!--<div *ngIf="currentItem">
    <p>Guid: {{currentItem?.guid}}</p>
    <p>name: {{currentItem?.name}}</p>
    <p>price: {{currentItem?.price}}</p>

</div>
-->